.react-select__menu-list::-webkit-scrollbar {
    width: 8px;
}

.react-select__menu-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.react-select__menu-list::-webkit-scrollbar-thumb {
    background: #373737;
    border-radius: 10px;
}

.react-select__menu-list::-webkit-scrollbar-thumb:hover {
    background: #ffc107;
}

.react-select__menu-list {
    border: #797979 1px solid;
    border-radius: 5px;
}

.home-container {
    padding: 20px;
    font-family: 'Futura-std', sans-serif;
    background-color: #ffffff;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.create-team-page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;

}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.team-form {
    display: flex;
    gap: 20px;
}

.form-controls {
    flex: 1;
}

.control-group {
    margin-bottom: 20px;
}

.control-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-control,
.form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.field {
    position: relative;
    width: 600px;
    /* Largura fixa */
    height: auto;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
}



.field-preview {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
}

.playersField {
    -webkit-user-select: none;
    /* Safari and Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard syntax */

}

.field-image {
    width: 100%;
    height: auto;
    display: block;
}

.player {
    position: absolute;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.player:hover {
    transform: scale(1.2);
    z-index: 10;
}

.btn-primary {
    background-color: #ffdf6b;
    color: #000;
}

.btn-primary:hover {
    background-color: #ffdf6bcb;
    color: #000;

}


.player:hover .player-info {
    display: block;
    /* Exibe as informações ao passar o mouse */
    transform: translateX(0%);
    transform: translateY(50%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.player .player-info {
    display: none;
    /* Oculta as informações por padrão */
    position: absolute;
    top: -100px;
    left: 0%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    /* Garante que as informações fiquem acima de tudo */
    width: 200px;
    text-align: left;
}



.player-info p {
    margin: 5px 0;
}


.gk {
    background-color: #ffdf6b;
}

.df {
    background-color: #4fc3f7;
}

.md {
    background-color: #a5d6a7;
}

.fw {
    background-color: #f06292;
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.buttons .btn {
    padding: 10px 20px;
    font-size: 16px;

}

.buttons .btn-danger {
    background-color: #a5a5a5;
    border: none;
    color: #000000;
}

.buttons .btn-success {
    background-color: #FFD201;
    border: none;
    color: #000000;
}