* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.teamsections-main-wrapper {
  display: flex;
  height: 100vh;
  background-color: white;
  margin-top: 5vh;
  padding: 20px;
  gap: 20px;
}

.teamsections-full-container {
  width: 70%;
}

.teamsections-sidebar-container {
  width: 100%;
  background-color: white;
  padding: 3%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.teamsections-header-box {
  font-size: 30px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
}

.teamsections-logo-image {
  width: 50px;
  height: auto;
}

.teamsections-title-container {
  display: flex;
  flex-direction: column;
}

.teamsections-subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.teamsections-accordion {
  margin-top: 25px;
}

.teamsections-accordion-item {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.teamsections-accordion-header {
  width: 100%;
}

.teamsections-non-accordion-button {
  margin-top: 1.3%;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  height: 5.7%;
}

.teamsections-non-accordion-button:hover {
  background-color: hsla(0, 0%, 22%, 0.185);
}

.teamsections-accordion-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.teamsections-accordion-button:hover {
  background-color: hsla(0, 0%, 22%, 0.185);
}

.teamsections-accordion-button:focus {
  box-shadow: none;
}

.teamsections-accordion-button::after {
  content: "▼";
  font-size: 14px;
  margin-left: auto;
  transition: transform 0.3s;
}

.teamsections-accordion-button.collapsed::after {
  transform: rotate(-90deg);
}

/* Corpo do accordion */
.teamsections-accordion-body {
  padding: 15px;
  background-color: #f9f9f9;
  max-height: 200px;
  /* Altura máxima antes de ativar o scroll */
  overflow-y: auto;
  /* Ativa o scroll vertical quando necessário */
  border-top: 1px solid #ddd;
}

.teamsections-accordion-body::-webkit-scrollbar {
  width: 8px;
}

.teamsections-accordion-body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.teamsections-accordion-body::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 4px;
}

.teamsections-accordion-body::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}

.teamsections-list {
  list-style: none;
  padding: 0;
}

.teamsections-list-item {
  font-size: 16px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.teamsections-list-item:hover {
  background-color: hsla(0, 0%, 22%, 0.185);
  border-radius: 5px;
}

.teamsections-list-item:last-child {
  border-bottom: none;
}

/* Painel Direito */
.teamsections-action-panel {
  width: 30%;
  background: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Botões */
.teamsections-button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.teamsections-add-button,
.teamsections-back-button {
  width: 80%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* Botão principal */
.teamsections-add-button {
  background: white;
  color: black;
}

.teamsections-add-button:hover {
  background: #ddd;
}

/* Botão secundário */
.teamsections-back-button {
  background: black;
}

.teamsections-back-button:hover {
  background: #222;
}