/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Layout principal */
.divisoes-main-container {
  display: flex;
  height: 100vh;
  background-color: black;
  margin-top: 5vh;
  padding: 20px;
  gap: 20px;
}

/* Painel Esquerdo */
.sidebar-panel {
  width: 70%;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Título com logo */
.header-container {
  font-size: 30px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
}

.team-logo {
  width: 50px;
  height: auto;
}

/* Lista de jogadores */
.navigation-menu {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 15px;
}

.navigation-button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 2px solid black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-button span {
  font-size: 20px;
}

.navigation-button:hover {
  background-color: #f0f0f0;
}

.selected {
  font-weight: bold;
}

/* Painel Direito */
.right-section {
  width: 30%;
  background: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

/* Botões */
.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.add-player-button,
.back-button {
  width: 80%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
}

/* Botão principal */
.add-player-button {
  background: white;
  color: black;
}

.add-player-button:hover {
  background: #ddd;
}

/* Botão secundário */
.back-button {
  background: black;
}

.back-button:hover {
  background: #222;
}