.container {
    padding: 80px 20px 20px; /* Espaço acima para evitar sobreposição com o cabeçalho */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #444;
}

.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para os retângulos no topo */
.header {
    width: 105%;
    height: 150px; /* Altura total dos retângulos */
    margin-left: -2.5%; /* Margem negativa para centralizar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-rectangle {
    width: 110%; /* Ultrapassa ligeiramente os lados */
    margin-left: -5%; /* Margem negativa para centralizar */
    height: 90%; /* Ajusta a altura */
    background-color: white; /* Cor do segundo retângulo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-rectangle {
    width: 105%; /* Ultrapassa ligeiramente os lados */
    margin-left: 4%; /* Margem negativa para centralizar */
    height: 80%; /* Ajusta a altura */
    background-color: black; /* Cor do retângulo interno */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha o texto na parte inferior */
}

.core-text {
    color: #FFD201; /* Cor do texto */
    font-size: 2.5rem; /* Tamanho do texto */
    margin-bottom: 10px; /* Espaço entre o texto e o final do retângulo */
    text-align: center;
    font-family: 'Futura Std Bold', sans-serif; /* Adiciona a fonte personalizada */
    font-weight: bold; /* Garante que o estilo seja bold */
}

