/* Ajuste do container para ocupar a altura da página */
.container {
    padding: 0px; /* Espaço nas laterais */
    min-height: calc(100vh - 150px); /* Ocupa o restante da tela (subtrai a altura do cabeçalho) */
}

/* Container da tabela agora ocupa a altura total, com rolagem no conteúdo */
.task-table-container {
    margin-top: 10px;
    max-height: calc(100vh - 250px); /* Tamanho ajustado para ocupar o espaço restante */
    overflow-y: auto; /* Adiciona rolagem vertical */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    position: sticky; /* Torna o cabeçalho fixo */
    top: 0; /* Fixa os cabeçalhos no topo */
    z-index: 1; /* Garante que os cabeçalhos fiquem acima do conteúdo */
}

/* Alternando cor de fundo das linhas da tabela */
table tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor cinza claro para as linhas pares */
}

table tr:nth-child(odd) {
    background-color: #fff; /* Cor branca para as linhas ímpares */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-family: 'Futura Std Book', sans-serif; /* Adicionando a fonte Futura Std Book */
}


.button {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #444;
}

/* Estilos para os retângulos no topo */
.header {
    width: 105%;
    height: 150px; /* Altura total dos retângulos */
    margin-left: -2.5%; /* Margem negativa para centralizar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-rectangle {
    width: 110%; /* Ultrapassa ligeiramente os lados */
    margin-left: -5%; /* Margem negativa para centralizar */
    height: 90%; /* Ajusta a altura */
    background-color: white; /* Cor do segundo retângulo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-rectangle {
    width: 105%; /* Ultrapassa ligeiramente os lados */
    margin-left: 4%; /* Margem negativa para centralizar */
    height: 80%; /* Ajusta a altura */
    background-color: black; /* Cor do retângulo interno */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha o texto na parte inferior */
}

.core-text {
    color: #FFD201; /* Cor do texto */
    font-size: 2rem; /* Tamanho do texto */
    margin-bottom: 10px; /* Espaço entre o texto e o final do retângulo */
    text-align: center;
    font-family: 'Futura Std Bold', sans-serif; /* Adiciona a fonte personalizada */
    font-weight: bold; /* Garante que o estilo seja bold */
}
