.home-container {
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.1em;
    margin: 5px 0;
}

.cachecol1 {
    height: 30px;
    background-color: black;
    opacity: 1;
}

.cachecol-home1 {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: -85%;
    width: 175vw;
    transform: rotate(55deg);
}

.cachecol-home2 {
    z-index: -1;
    position: absolute;
    top: 30%;
    right: -85%;
    width: 175vw;
    transform: rotate(-55deg);
}

.home-tit {
    font-size: 5vh;
}