.home-container {
    padding: 20px;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.1em;
    margin: 5px 0;
}

.cachecol1 {
    height: 30px;
    background-color: black;
    opacity: 1;
}

.cachecol-home1 {
    z-index: -1;
    position: absolute;
    top: 30%;
    left: -70%;
    width: 175vw;
    transform: rotate(55deg);
}