.terms-container {
  max-width: 100vw;
  margin: auto;
  padding: 20px;
  font-family: 'Futura-std', sans-serif;
}

h1,
h2 {
  color: #000000;
  font-weight: 600;
}

p,
ul {
  color: #333;
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

.terms-container {
  height: 100vh;
  overflow-y: auto;

}